.list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    li {
        position: relative;
        transition: all 0.3s;
        padding-left: 16px;

        @include hover {
            cursor: pointer;
            color: var(--color-active);
            text-decoration: underline;

            &::before {
                border-top: 2px solid var(--color-active);
                border-right: 2px solid var(--color-active);
            }
        }

        &::before {
            position: absolute;
            content: '';
            height: 10px;
            top: 5px;
            left: 0;
            width: 10px;
            border-top: 2px solid var(--color-light);
            border-right: 2px solid var(--color-light);
            rotate: 45deg;
        }
    }
}